body{
    background-color: rgb(54, 51, 83);
    color: white;
    text-align: center;
}

p, input, button{
    font-size: 20px;
}

#country {
    margin-top: 75px;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}

select{
    padding: 10px;
}
